body {
  background-color: cornflowerblue;
}

/* Grid Layout Formatting */
.common-list {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 50px;
  text-align: left;
}

/* Dynamic Results Formatting */
.results-list {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-row-gap: 50px;
  grid-column-gap: 100px;
  text-align: left;
  background-color: black;
}

/* Individual Tile Formatting */
.common-list-item {
  background-color: tan;
  padding-left: 10px;
}

/* Results Tile Formatting */
.results-list-item {
  background-color: aqua;
  padding-left: 10px;
  border-radius: 10%;
}