body {
  background-color: orange;
}

/* Grid Layout Formatting */
.common-list {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 50px;
  text-align: left;
}

/* Individual Tile Formatting */
.common-list-item {
  background-color: tan;
  padding-left: 10px;
}