.common-list {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}

.common-list-item{
  background:red; color:#fff; font-size:30px;
  height:200px; line-height:200px; text-align:center;
}


@media (max-width:590px){
  .common-list{  
  grid-template-columns:repeat(2, 1fr);  
  }
}